<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>My URLS</title>
  </head>
<body>
  <%- include('partials/_navbar') %>
  <main>
    <div class="title">
      <h3>My URLs</h3>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
            <td><a href="/urls/<%= url %>"><button type="edit" class="btn btn-primary">Edit</button></td>
            <td><form method="POST" action="/urls/<%= url %>/delete">
              <button type="delete" class="btn btn-primary">Delete</button>
            </form>
          </td>
            
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
</body>
</html>