<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_navbar') %>
  <div class="title">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
  </div>
  <form class="title" action="/urls/<%= shortURL %>" method="POST">
    <div class="form-group mb-2">
      <label for="updatedLongURL">Replace long URL:</label>
      <input class="form-control" type="text" name="updatedLongURL" placeholder="new long URL" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>
</html>